@media (max-height: 540px) {
  #nonAnimalContent {
    width: 100%;
    max-width: 400px;
    padding-bottom: 16px;
    /* gap: 6px; */
    gap: clamp(5px, min(1.67dvw, 1.13dvh), 540px);
  }
  .scroll-arrow1{
    display: block;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    margin-top: 1dvh;
    margin-left: 6.5dvh;
    font-size: 5dvh;
    color: #FEDB04;
    text-shadow: -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 1.5px -1.5px 3px rgba(46, 101, 103, 0.5), -1.5px 1.5px 3px rgba(46, 101, 103, 0.5), 1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
    animation: moveArrow 2s infinite ease-in-out;
    z-index: 50;
  
  }
  .scroll-arrow {
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    margin-top: -1dvh;
    margin-left: 6.5dvh;
    font-size: 5dvh;
    color: #FEDB04;
    text-shadow: -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 1.5px -1.5px 3px rgba(46, 101, 103, 0.5), -1.5px 1.5px 3px rgba(46, 101, 103, 0.5), 1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
    animation: moveArrow 2s infinite ease-in-out;
    z-index: 50;
}

  #leftSide_AnimalGroup {
    /* display: block; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end;
    align-items: flex-end; */
  }

  #rightSide_AnimalGroup {
    /* display: block; */
    display: flex;
    flex-direction: column;
  }

  #animalImageContainer {
    display: none;
  }

  #welcome-screen2 #welcomeScreenContent img {
    width: clamp(72px, min(11dvw, 34.9dvh), 505px);
    /* width: clamp(69px, min(11dvw, 34.9dvh), 505px); */
  }

  /* #start-button2 {
    font-size: clamp(0.3rem, min(4dvw, 5.93dvh), 13.4rem);
    white-space: nowrap;
  } */
}

@media (max-width: 1305px) {
  #firstAnimalGroup {
    display: block;
  }

  #secondAnimalGroup {
    display: block;
  }

  #animalImageContainer img {
    width: clamp(135px, min(24dvw, 18.37dvh), 1305px);
    /* width: clamp(135px, 18.37dvh, 1305px); */
  }
}

@media (max-width: 646px) {
  #animalImageContainer img {
    width: clamp(77px, min(24dvw, 21.4dvh), 646px);
  }

  /* #hero-text2 {
    font-size: clamp(1.4rem, 5.90dvw, 13.4rem);
  }

  #welcome-text2 {
    font-size: clamp(1.3rem, 4.70dvw, 13.4rem);
  }

  #start-button2 {
    font-size: clamp(1.1rem, 3.73dvw, 13.4rem);
    white-space: nowrap;
  } */

  #hero-text2 {
    font-size: clamp(1.9rem, min(5.90dvw, 11.05dvh), 13.4rem);
    /* white-space: nowrap; */
  }

  #welcome-text2 {
    font-size: clamp(1.4rem, min(4.70dvw, 12.03dvh), 13.4rem);
  }

  #start-button2 {
    /* font-size: clamp(1.1rem, min(4dvw, 5.93dvh), 13.4rem); */
    font-size: clamp(1rem, min(3dvw, 5dvh), 13.4rem);
    white-space: nowrap;
  }
  .scroll-arrow1{
    display: block;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    margin-top: 1dvh;
    margin-left: 6.5dvh;
    font-size: 5dvh;
    color: #FEDB04;
    text-shadow: -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 1.5px -1.5px 3px rgba(46, 101, 103, 0.5), -1.5px 1.5px 3px rgba(46, 101, 103, 0.5), 1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
    animation: moveArrow 2s infinite ease-in-out;
    z-index: 50;
  
  }
  .scroll-arrow {
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    margin-top: -1dvh;
    margin-left: 6.5dvh;
    font-size: 5dvh;
    color: #FEDB04;
    text-shadow: -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 1.5px -1.5px 3px rgba(46, 101, 103, 0.5), -1.5px 1.5px 3px rgba(46, 101, 103, 0.5), 1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
    animation: moveArrow 2s infinite ease-in-out;
    z-index: 50;
}
}

@media (max-width: 480px) and (min-height: 392px) {
  #animalImageContainer {
    white-space: nowrap;
    display: block;
  }

  #leftSide_AnimalGroup {
    display: none;
  }

  #rightSide_AnimalGroup {
    display: none;
  }

  #firstAnimalGroup {
    display: block;
  }

  #secondAnimalGroup {
    display: block;
  }
  .scroll-arrow1{
    display: block;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    margin-top: 1dvh;
    margin-left: 6.5dvh;
    font-size: 5dvh;
    color: #FEDB04;
    text-shadow: -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 1.5px -1.5px 3px rgba(46, 101, 103, 0.5), -1.5px 1.5px 3px rgba(46, 101, 103, 0.5), 1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
    animation: moveArrow 2s infinite ease-in-out;
    z-index: 50;
  
  }
  .scroll-arrow {
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    margin-top: -1dvh;
    margin-left: 6.5dvh;
    font-size: 5dvh;
    color: #FEDB04;
    text-shadow: -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 1.5px -1.5px 3px rgba(46, 101, 103, 0.5), -1.5px 1.5px 3px rgba(46, 101, 103, 0.5), 1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
    animation: moveArrow 2s infinite ease-in-out;
    z-index: 50;
}
}

@media (orientation: portrait) {
  #logo-image {
    height: 15vw;
    width: auto;
    border-radius: 4vw;
  }

  #hero-text{
    font-size: 10vw;
  }

  #welcome-text {
    font-size: 7vw;
  }

  .start-button { 
    font-size: 4vw;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    z-index: 1; /* Ensure button is above the GIF background */
  }
   
  #question-container {
    top: 40%;
  }

  #question-text {
    font-size: 3vmax;
  }
  .scroll-arrow1{
    display: block;
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    margin-top: 1dvh;
    margin-left: 6.5dvh;
    font-size: 5dvh;
    color: #FEDB04;
    text-shadow: -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 1.5px -1.5px 3px rgba(46, 101, 103, 0.5), -1.5px 1.5px 3px rgba(46, 101, 103, 0.5), 1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
    animation: moveArrow 2s infinite ease-in-out;
    z-index: 50;
  
  }
  .scroll-arrow {
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    margin-top: -1dvh;
    margin-left: 6.5dvh;
    font-size: 5dvh;
    color: #FEDB04;
    text-shadow: -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 1.5px -1.5px 3px rgba(46, 101, 103, 0.5), -1.5px 1.5px 3px rgba(46, 101, 103, 0.5), 1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
    animation: moveArrow 2s infinite ease-in-out;
    z-index: 50;
}

  #progress-container {
    top: 10dvh;
    position: fixed;
    top: 15dvh;
    width: 76%;
    height: 4%;
    left: 6dvh;
  }

  .back-button {
    position: absolute;
  
    left: 1vw;
    padding: 1vh 2%;
    font-size: 2dvh;
  }

  #answers {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-items: center;
    bottom: 5%; /* Remove fixed bottom position */
    z-index: 1; /* Ensure it’s behind the progress bar */
  }
  .answer-button {
    width: 100%; /* Full width for mobile */
    max-width: none;
    font-size: 2dvh;
    word-spacing: normal;
    padding: 1.2dvh;
    margin-top: 1dvh;
    border-radius: 1.5dvh;
    transition: background-color 0.3s ease;
    text-shadow: 0 0 0.75px rgba(0, 0, 0, 0.6);
  }
  #answer-a {
    width: 90%; 
  }
  #answer-n {
    width: 80%; 
  }
  #answer-d {
    width: 90%; 
  }
  @keyframes changeColor {
    50% {
      background-color: #ad00ab;
      color: #FEDB04;
    }
    100% {
      background-color: #FEDB04;
      color: #ad00ab;
    }
  }

  @keyframes change_submitColor {
    50% {
      background-color: #5bc2e7;
    }
    100% {
      background-color: #FEDB04;
    }
  }

  .answer-button.mobile-click {
    animation: changeColor 0.3s forwards;
  }

  #submitBtn.mobile-click2 {
    animation: change_submitColor 0.3s forwards;
  }
  
  #detailed-results{
    display: flex;
   flex-direction: column;
   left: 2%;
  }
  #result-section1{
   
    margin-right: unset;
   }
   .topsection .description{
    min-width:305px;
   }
  #detailed-results button {
    font-weight: bold;
    font-size: 1rem;
    /* padding: 2%; */
    padding: 10px 155px 10px 18px;
    /* padding-left: 3%; */
    /* margin-top: 2%;*/
  }
  #result-section2{
    margin-left: 25%;
  }
 

  .restart-button, .feedback-button {
    font-size: 3vw;
    padding: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  #detailed-results, #result-text {
    font-size: 5dvh;
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
.desc-container{
  padding: 0;
}
  #result {
    font-size: 1.3rem;
    /* width:270px; */
  }
  #second-section {
   
    padding: 0px;
  }

  #question-text, #result {
    text-shadow: 0 0 1px rgb(255, 255, 255) /* trick to make text bold */
  }

  #detailed-results {
 left:-5%;
  }
  #second-section{
    flex-direction: column;
  }
  
  #second-section > div {
    width: 100%;
  }

  #result-grid {
    flex-direction: column;
    justify-items: center;
    align-content: center;
  }
  /* #polaroid-animal-image{
    min-width: 200px;
    width: 252px; 
  } */

  /* #polaroid-animal-image
 {
  width: 200px;
    min-width: 200px;
} */

 #scroll-down-text1{
  display: block;
  color: #A52C87;
  font-weight: 600;
  text-align: center;

 }

  #result-animal-image {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
    height: 65dvh; /* Maintains the aspect ratio */
    width: auto; /* Adjust the size of the image */
    max-width: 100%;
    padding-top: 5dvh; /* Adds some space above the image */
  }

  #scroll-down-text {
    grid-column: 1;
    grid-row: 3;
    /* font-size: 3dvh; */
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 5dvh;
  }

  .scroll-arrow {
    grid-column: 1;
    grid-row: 4;
    font-size: 7dvh;
    margin-top: 0;
    margin-left: 4dvh;
  }
  
  #personality-details {
    font-size: 1.3rem; /* Adjust font size for smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */
    margin: 20px 0%; /* Margin around text */
  }
  .details-box {
    width: 90%; /* Full width for mobile */
    display: block; /* Stack vertically */
    margin: 10px auto; /* Center horizontally */
  }
  .responsive-image {
    display: none; /* Hide the images on mobile devices */
  }
  .details-tree {
    display: none;
  }
  #topper-for-line {
    display: none;
  }
}

