html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100vw;
  max-width: 100%;
  color: #ffffff;
  font-family: 'Jura', sans-serif; /* or 'Audiowide', sans-serif */
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: scroll; /* Prevent horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  scrollbar-width: none; /* Firefox: Hide scrollbars */
}
html {
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, and Opera: Hide scrollbars */
  background: transparent; /* Optional: Set scrollbar background to transparent */
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* object-fit: cover; */
  z-index: -1; /* Make sure video is behind other content */
}
#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire screen */
}

#quiz-container {
  display: flex;
  position: relative; /* For relative positioning context */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  max-width: 100%;
  margin: auto;
  z-index: 1; /* Ensure content is above the video */
}

#welcome-screen {
  display: flex;
  position: relative; /* Ensure children can be absolutely positioned */
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  z-index: 1; /* Ensure content is above the video */
}

#logo-image {
  height: 10dvh;
  width: auto;
  border-radius: 3dvh;
  background-color: white;
  z-index: 1; /* Ensure text is above the GIF background */
}

#hero-text{
  margin-bottom: 0; 
  font-size: 7dvh;
  font-weight: bold;
  color: #FEDB04;
  text-shadow: 
    -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), /* Slight blur and transparency */
    1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 
    -1.5px 1.5px 3px rgba(46, 101, 103, 0.5),
    1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
  z-index: 1; /* Ensure text is above the GIF background */
}

#welcome-text {
  font-size: 5dvh;
  font-weight: bold;
  width: 70%; /* Set the width to 30% */
  text-align: center;
  word-wrap: break-word; /* Ensure long words wrap to the next line */
  color: #FEDB04;
  text-shadow: 
    -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), /* Slight blur and transparency */
    1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 
    -1.5px 1.5px 3px rgba(46, 101, 103, 0.5),
    1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
  z-index: 1; /* Ensure text is above the GIF background */
}

.start-button { 
  margin-top: 10px;
  padding: 2% 2%;
  font-size: 3dvh;
  font-family: 'Jura', sans-serif; /* or 'Audiowide', sans-serif */
  font-weight: bold;
  background-color: #5bc2e7;
  color: black;
  border-top: 1vmin solid #FEDB04;    /* Small border on the top */
  border-right: 2vmin solid #FEDB04;  /* Same size border on the right */
  border-bottom: 3vmin solid #FEDB04; /* Larger border on the bottom */
  border-left: 2vmin solid #FEDB04;   /* Same size border on the left */
  border-radius: 4vmin;             /* Optional: rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  z-index: 1; /* Ensure button is above the GIF background */
}
.start-button:hover {
  background-color: #5bc2e7;
  border-color: #2e6567; /* Change border color on hover */
}
.start-button:active {
  background-color: #54c9cd;
  border-color: #2e6567; /* Change border color on hover */
}

#progress-container {
  position: fixed;
  top: 6.5vw;
  width: 90%;
  height: 2.5%;
  background-color:#5BC2E7;
  border-radius: 2dvh;
  overflow: hidden;
  z-index: 2; /* Ensure it's on top */
}

#progress-bar {
  height: 100%;
  width: 0%; /* Will be updated by JavaScript */
  background-color: #FEDB04;
  transition: width 0.3s ease;
}

#question-container {
  position: fixed;
  width: 90%; /* Adjust this value as needed */
  top: 50%; /* Center vertically */
  left: 50%;
  margin-bottom: 40dvh;
  text-align: center; /* Center text within container */
  transform: translate(-50%, -50%); /* Center horizontally */
  z-index: 1; /* Ensure it’s behind the progress bar */
}

#question-text {
  font-size: 5dvh;
  font-weight: bold;
  color: #ffffff;
}

.back-button {
  position: absolute;
  top: 2vw;
  left: 1vw;
  padding: 1vh 2%;
  font-size: 1.5vw;
  border-radius: 2dvh;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  background-color: transparent;
  border: 2px solid #5bc2e7;
  color: #5bc2e7;
  transition: 0.2s;
}

.back-button:hover {
  background-color: #5bc2e7;
  color: #000;
}
.answer-button.active {
  background-color: #FEDB04;
}

#answers {
  position: fixed;
  display: flex;
  width: 100%;
  height: 35%;
  bottom: 0%; /* Distance from bottom */
  align-items: center;
  justify-content: center;
  justify-self: center;
  z-index: 1; /* Ensure it’s behind the progress bar */
}

.answer-button {
  width: 20vw;
  font-family: 'Jura', sans-serif;
  font-size: 2vw;
  font-weight: bolder;
  text-align: center;
  word-spacing: 100vw;
  margin: 1%;
  padding: 3dvh;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
  color: black;
  background-color: #5bc2e7;
  transition: background-color 0.3s ease;
}
.answer-button:hover {
  background-color:  #FEDB04;
}
.answer-button:active {
  background-color: #54c9cd;
}

#submitBtn.mobile-click2:active {
  background-color: #FEDB04
}

#feedback-popup {
  position: fixed;
  display: none; /* Hidden by default */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Slightly wider for better spacing */
  max-width: 400px;
  max-height: 72%; /* Limit the height to allow scrolling */
  background-color: black; /* Match the form background */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  border-color: #FEDB04;
  border-width: clamp(3px, 1.2vw, 8px);
  border-style: solid;
  z-index: 1001;
}
/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
#feedback-popup::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
#feedback-popup.active {
  display: block; /* Show when active */
}

.unfilledForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  width: 200px;
  background-color: white;
  color: black;
  font-family: 'Roboto';
  font-weight: 600;
  border-color: red;
  border-radius: 20px;
  border-width: clamp(5px, 1vw, 8px);
  border-style: solid;
}

textarea.userInput {
  background-color: white !important;
  color: black !important;
  height: 140px !important;
  width: 85% !important;
  border-radius: 10px !important;
  border: 5px solid #FEDB04 !important;
  /* Ensure consistent box sizing */
  box-sizing: border-box !important;
  /* padding: 10px !important; */
  resize: none !important;
  font-family: 'roboto';
  font-weight: 500;
}

textarea.userInput:focus {
  /* background-color: white !important; */
  outline: none;
  border: 5px solid #5BC2E7 !important;
  /* box-shadow: 0 0 27px #FEDB04; */
}

.userInputArt {
  background-color: white;
  color: black;
  height: 135px;
  width: 75%;
  border-radius: 10px;
  border: 5px solid #5BC2E7;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5); /* or any desired shadow level */
  z-index: 1000;
  /* pointer-events: none; /* Setting to none allows whole page to be scrollable, not just survey */
}

.overlay.visible {
  display: block;
}

#feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  align-items: center;
  gap: 10px;
}

.form-content {
  padding: 20px;
}

.testTopBar {
  position: sticky;
  /* margin: 0; */
  top: 0;
  background-color: #5BC2E7;
  /* color: black; */
  z-index: 100;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  padding-top: 10px;
  padding-bottom: 33px;
  /* padding-left: 15px; */
  padding-right: 15px;
  border-bottom: 6px solid #FEDB04;
}

.surveyTitle {
  color: black;
  margin: 0;
  margin-left: 5%;
}

.X-icon {
  color: black;
  font-size: x-large;
  position: sticky;
}

#closeXbutton {
  border: none;
  cursor: pointer;
  padding: 0;
}

#feedback-form label {
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: left; /* Align labels to the left for consistency */
  color: #ffffff;
}

#feedback-form div input[type="checkbox"] {
  display: block; /* Ensure the checkbox is on its own line */
  margin-bottom: 10px; /* Add some space between checkboxes */
}

#feedback-form div label {
  display: block; /* Make the label appear on its own line */
  margin-bottom: 10px; /* Add spacing between labels */
}

#feedback-form input,
#feedback-form textarea,
#feedback-form select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 15px; /* Reduced margin for better spacing */
  border: none;
  border-radius: 20px;
  font-size: 1rem;
}
#feedback-form textarea {
  height: 100px; /* Maintain height for comments */
}

#feedback-form button {
  background-color: #FEDB04;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (hover: hover) { /* Ensures hover styles only apply on non-touch devices (Ex: laptop) */
  #feedback-form button:hover {
    background-color: #5bc2e7;
  }
}


.feedback-button {
  font-family: 'Jura', sans-serif;
  font-size: 3dvh;
  font-weight: bold;
  padding: 1.5%;
  border: none;
  border-radius: 4dvh;
  background-color: #5bc2e7; /* Same color as answer buttons */
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.feedback-button:hover {
  background-color: #FEDB04; /* Same hover color as answer buttons */
}
.feedback-button:active {
  background-color: #54c9cd;
}

.restart-button {
  font-family: 'Jura', sans-serif;
  font-size: 3dvh;
  font-weight: bold;
  padding: 1.5%;
  margin-top: 2.5%;
  margin-left: 1vw;
  margin-bottom: 2.5%;
  border: none;
  border-radius: 4dvh;
  background-color: #5bc2e7; /* Same color as answer buttons */
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.restart-button:hover {
  background-color: #FEDB04; /* Same hover color as answer buttons */
}
.restart-button:active {
  background-color: #54c9cd;
}

#result-container {
  position: relative; /* Make sure it stays within its parent */
  height: 100dvh; /* Ensure it takes the full viewport height */
  width: 100vw;
  max-width: 100%;
  font-family: 'Jura', sans-serif;
  text-align: center;
  color: #ffffff;
}

#result-grid {
  display: grid;
  height: 100%;
  width: 100%;
}

#result {
  grid-column: 1;
  grid-row: 1;
  margin: 5%;
  font-size: 8dvh;
  font-weight: bold;
  color: #ffffff;
}

#result-animal-image {
  display: block;
  object-fit: contain;
  align-self: center;
  grid-column: 2;
  grid-row: 1/4;
  height: 90dvh; /* Maintains the aspect ratio */
  width: auto; /* Adjust the size of the image */
  max-width: 45vw;
}

#scroll-down-text {
  vertical-align: bottom;
  grid-column: 1;
  grid-row: 2;
  margin: 5%;
  margin-top: 15dvh;
  display: table-cell;
  font-size: 5dvh;
  color: #FEDB04;
}

.scroll-arrow {
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 3;
  margin-top: -15dvh;
  margin-left: 7.5dvh;
  font-size: 15dvh;
  color: #FEDB04;
  text-shadow: 
    -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), /* Text shadow effect */
    1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 
    -1.5px 1.5px 3px rgba(46, 101, 103, 0.5),
    1.5px 1.5px 3px rgba(46, 101, 103, 0.5); 
  animation: moveArrow 2s infinite ease-in-out;
  z-index: 50;
}

#detailed-results {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: start;
  width: 100%; /* Ensure container takes full width */
  box-sizing: border-box; /* Include padding in width calculation */
  font-size: 1.8rem;
  color: black;
}

/* Detailed Results Button Styles */
#detailed-results button {
  width: auto; /* Adjust width based on content */
  min-width: 30vw; /* Ensure minimum width */
  max-width: 75vw;
  font-family: 'Jura', sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 2vw;
  padding: 1.25%;
  padding-left: 3%;
  margin-top: 1%;
  margin-left: 10%;
  border: none;
  border-radius: 4vw;
  color: black;
  background-color: #FEDB04;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  animation: none;
}
#detailed-results button.active {
  background-color: #54c9cd !important; /* Change to your desired color */
  font-weight: bold;
}
#detailed-results button:hover {
  background-color: #5bc2e7; 
}
#detailed-results button:nth-of-type(2) {
  animation: hintAnim 3s infinite ease-in-out;
}
#detailed-results button i,
#detailed-results button span {
 float: right;
 font-size: larger;
 margin-right: 3%;
}

/* Detailed Results Text Styles */
#personality-details {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.8rem; /* Font size */
  font-family: 'Jura', sans-serif; /* Font style */
  overflow-wrap: break-word; /* Break long words to fit within container */
  padding: 1%; /* Padding around text */
  margin: 20px 5%;
  border-radius: 20px; /* Rounded corners */
  color: black; /* Text color */
  white-space: pre-wrap; /* Ensure text wraps correctly */
}

.details-box {
  display: inline-block;
  width: 40%;
  padding: 1%;
  margin: 10px 0;
  border-radius: 1.5vmax;
  text-align: left;  /* Align text to the left */
  font-size: 1rem;   /* Reduce the font size */
  font-weight: 500;
  line-height: 1.4;  /* Adjust line height for better readability */
}

.large-text {
  font-size: 3vmax; /* Adjust the size as needed */
  font-weight: bolder; /* Optional, if you want it to remain bold */
}

.details-box ul {
  list-style-type: disc; /* Default bullet style */
  list-style-position: inside;
  padding-left: 1%; /* Adjust indentation as needed */
}

.details-box.left {
  align-self: flex-start;
  font-size: 2vmax;
  padding-left: 1%;
  padding-bottom: 1%;
  background-color: #5bc2e7; /* Example background color */
}

.details-box.right {
  align-self: flex-end;
  font-size: 2vmax;
  padding-left: 1%;
  padding-bottom: 1%;
  background-color: #5bc2e7; /* Example background color */
}

.details-tree {
  position: absolute;
  align-self: center;
  top: 1%;
  width: .5%;
  height: 97%;
  background-color: #FEDB04; /* Color for the middle line */
}

#topper-for-line {
  position: absolute;
  left: -2.25vw;
  width: 5vw; /* Scale down the image width */
  z-index: 1; /* Ensure it's above the line */
}
#topper-for-line:first-child {
  top: -2%;
}
#topper-for-line:last-child {
  bottom: -2%;
  transform: rotate(180deg);
}

#description-image,
#disadvantages-image,
#demotivators-image {
  position: absolute; /* Make it independent */
  width: 10%; /* Scale down the image width */
  height: auto; /* Maintain aspect ratio */
  left: 43%;
  margin-top: -2.5%; /* Adjust this value to move arrows up or down if necessary */
  transform: scaleX(-1);
  z-index: 1; /* Ensure it's above the line */
}
#advantages-image,
#motivators-image {
  position: absolute; /* Make it independent */
  width: 10%; /* Scale down the image width */
  height: auto; /* Maintain aspect ratio */
  left: 47%;
  margin-top: -2.5%; /* Adjust this value to move arrows up or down if necessary */
  z-index: 1; /* Ensure it's above the line */
}

.resultButton-arrowContainer {
  display: flex;
  flex-direction: row;
}

.horizontal-arrow {
  font-size: 3.5dvh;
  color: #FEDB04;
  text-shadow: 
    -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), /* Text shadow effect */
    1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 
    -1.5px 1.5px 3px rgba(46, 101, 103, 0.5),
    1.5px 1.5px 3px rgba(46, 101, 103, 0.5); 
  bottom: 0%;
  left: 50%;
  position: inherit;
  /* transform: translateX(-50%); */
  animation: move-horizontalArrow 2s infinite ease-in-out;
  z-index: 50;
}

@keyframes moveArrow {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes hintAnim {
  0% {
    transform: scaleX(100%); 
    background-color:#FEDB04;
  }
  50% {
    transform: scaleX(105%) translateX(2.5%); 
    background-color: #5BC2E7;
  }
  100% {
    transform: scaleX(100%); 
    background-color: #FEDB04;
  }
}

@keyframes pulseGlowEffect1 {
  /* 0% {
    transform: translateX(-50%) translateY(0);
  } */
  50% {
    box-shadow: 0px 11px 10px rgb(0, 247, 255);
  }
  100% {
    box-shadow: 0px 0px 0px rgba(84, 201, 205, 1);
  }
}

@keyframes pulseGlowEffect2 {
  /* 0% {
    transform: translateX(-50%) translateY(0);
  } */
  50% {
    box-shadow: 0px 0px 18px rgba(84, 201, 205, 1);
  }
  100% {
    box-shadow: 0px 0px 0px rgba(84, 201, 205, 1);
  }
}

@keyframes pulseGlowEffect3 {
  /* 0% {
    transform: translateX(-50%) translateY(0);
  } */
  50% {
    box-shadow: 18px 0px 9px rgba(84, 201, 205, 1);
  }
  100% {
    box-shadow: 0px 0px 0px rgba(84, 201, 205, 1);
  }
}