html, body {
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif; /* or 'Audiowide', sans-serif */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  scrollbar-width: none; /* Firefox: Hide scrollbars */
}

html {
  overflow-y: scroll; /* Enable vertical scrolling */
}

body::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, and Opera: Hide scrollbars */
  background: transparent; /* Optional: Set scrollbar background to transparent */
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Make sure video is behind other content */
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire screen */
}

#quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  position: relative; /* For relative positioning context */
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: auto;
  color: #ffffff; 
  z-index: 1; /* Ensure content is above the video */
}

#welcome-screen {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  /*background: transparent url('../assets/island.png') center center no-repeat; /* Background GIF */
  position: relative; /* Ensure children can be absolutely positioned */
  text-align: center;
  z-index: 1; /* Ensure content is above the video */
}

#logo-image {
  height: 10vh;
  width: auto;
  
  border-radius: 3vh;
  background-color: white;
}

#hero-text{
  width: 100%;
  margin-bottom: 0px; 
  margin-top: 15px;
  font-size: 7vh;
  font-weight: bold;
  color: #FEDB04;
  text-shadow: 
    -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), /* Slight blur and transparency */
    1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 
    -1.5px 1.5px 3px rgba(46, 101, 103, 0.5),
    1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
}

#welcome-text {
  font-size: 5vh;
  font-weight: bold;
  color: #FEDB04;
  text-shadow: 
    -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), /* Slight blur and transparency */
    1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 
    -1.5px 1.5px 3px rgba(46, 101, 103, 0.5),
    1.5px 1.5px 3px rgba(46, 101, 103, 0.5);
  z-index: 1; /* Ensure text is above the GIF background */
  width: 70%; /* Set the width to 30% */
  text-align: center;
  word-wrap: break-word; /* Ensure long words wrap to the next line */
}

.start-button { 
  margin-top: 10px;
  background-color: #5bc2e7;
  color: black;
  font-family: 'Jura', sans-serif; /* or 'Audiowide', sans-serif */
  font-weight: bold;
  padding: 2% 2%;
  border-top: 1vh solid #FEDB04;    /* Small border on the top */
  border-right: 1.5vh solid #FEDB04;  /* Same size border on the right */
  border-bottom: 3vh solid #FEDB04; /* Larger border on the bottom */
  border-left: 1.5vh solid #FEDB04;   /* Same size border on the left */
  border-radius: 4vh;             /* Optional: rounded corners */
  font-size: 3vh;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  z-index: 1; /* Ensure button is above the GIF background */
}

.start-button:hover {
  background-color: #5bc2e7;
  border-color: #2e6567; /* Change border color on hover */
}

.start-button:active {
  background-color: #54c9cd;
  border-color: #2e6567; /* Change border color on hover */
}

#progress-container {
  position: fixed;
  top: 10%;
  width: 90%;
  background-color:#5BC2E7;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  z-index: 2; /* Ensure it's on top */
}

#progress-bar {
  height: 100%;
  width: 0%; /* Will be updated by JavaScript */
  background-color: #FEDB04;
  transition: width 0.3s ease;
}

#question-container {
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally */
  text-align: center; /* Center text within container */
  z-index: 1; /* Ensure it’s behind the progress bar */
  width: 90%; /* Adjust this value as needed */
  margin-bottom: 40vh;
}

#question-text, #result {
  font-size: 5vh;
  color: #ffffff;
  font-weight: bold;
}

#detailed-results {
  font-size: 1.8rem;
  color: black;
}

#answers {
  position: fixed;
  bottom: 0%; /* Distance from bottom */
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 100%;
  height: 35%;
  z-index: 1; /* Ensure it’s behind the progress bar */
}

.answer-button {
  background-color: #5bc2e7;
  font-family: 'Jura', sans-serif;
  color: black;
  margin: 1%;
  border: none;
  border-radius: 2vw;
  padding: 3vh;
  font-size: 2vw;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 20vw;
  word-spacing: 100vw;
}

.answer-button:hover {
  background-color:  #FEDB04;
}

.answer-button:active {
  background-color: #54c9cd;
}

#feedback-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Slightly wider for better spacing */
  max-width: 400px;
  max-height: 80%; /* Limit the height to allow scrolling */
  padding: 20px;
  background-color: rgb(46, 101, 103); /* Match the form background */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: none; /* Hidden by default */
  z-index: 999;
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
#feedback-popup::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

#feedback-popup.active {
  display: block; /* Show when active */
}

#feedback-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  align-items: center;
  padding: 20px;
}

#feedback-form label {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: left; /* Align labels to the left for consistency */
}

#feedback-form div input[type="checkbox"] {
  display: block; /* Ensure the checkbox is on its own line */
  margin-bottom: 10px; /* Add some space between checkboxes */
}

#feedback-form div label {
  display: block; /* Make the label appear on its own line */
  margin-bottom: 10px; /* Add spacing between labels */
}

#feedback-form input,
#feedback-form textarea,
#feedback-form select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 15px; /* Reduced margin for better spacing */
  border: none;
  border-radius: 20px;
  font-size: 1rem;
}

#feedback-form textarea {
  height: 100px; /* Maintain height for comments */
}

#feedback-form button {
  background-color: #e97c17;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#feedback-form button:hover {
  background-color: #2e6567;
}

.feedback-button {
  background-color: #5bc2e7; /* Same color as answer buttons */
  font-family: 'Jura', sans-serif;
  color: black;
  font-weight: bold;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 4vmin;
  font-size: 4vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-button:hover {
  background-color: #FEDB04; /* Same hover color as answer buttons */
}

.feedback-button:active {
  background-color: #54c9cd;
}

.restart-button {
  background-color: #5bc2e7; /* Same color as answer buttons */
  font-family: 'Jura', sans-serif;
  color: black;
  font-weight: bold;
  font-weight: bold;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 4vmin;
  font-size: 4vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #FEDB04; /* Same hover color as answer buttons */
}

.restart-button:active {
  background-color: #54c9cd;
}

#result-container {
  margin-top: 30px;
  font-family: 'Jura', sans-serif;
  text-align: center;
  height: 100vh; /* Ensure it takes the full viewport height */
  position: relative; /* Make sure it stays within its parent */
  color: #ffffff;
}

#result-text {
  font-size: 1.8rem;
  font-family: 'Jura', sans-serif;
  margin-bottom: 20px; /* Space between text and image */
}

#result-animal-image {
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
  width: 40vh; /* Adjust the size of the image */
  height: auto; /* Maintains the aspect ratio */
  padding-top: 20px; /* Adds some space above the image */
}

#detailed-results {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: flex-start; /* Align items to the left */
  width: 100vw; /* Ensure container takes full width */
  box-sizing: border-box; /* Include padding in width calculation */
  margin-left: 30px;
}

/* Detailed Results Button Styles */
#detailed-results button {
  background-color: #FEDB04;
  font-weight: normal;
  font-family: 'Jura', sans-serif;
  color: black;
  padding: 5px 20px;
  border: none;
  text-align: left;
  margin: 5px 0 2px 30%; /* Add left margin */
  border-radius: 4vh;
  font-size: 3vw;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  width: auto; /* Adjust width based on content */
  min-width: 35vw; /* Ensure minimum width */
  max-width: 75vw;
  animation: none;
}

#detailed-results button.active {
  background-color: #54c9cd !important; /* Change to your desired color */
  font-weight: bold;
}
#detailed-results button:hover {
  background-color: #5bc2e7; 
}
#detailed-results button:nth-of-type(2) {
  animation: hintAnim 3s infinite ease-in-out;
}

/* Detailed Results Text Styles */
#personality-details {
  font-size: 1.8rem; /* Font size */
  font-family: 'Jura', sans-serif; /* Font style */
  color: black; /* Text color */
  white-space: pre-wrap; /* Ensure text wraps correctly */
  overflow-wrap: break-word; /* Break long words to fit within container */
  padding: 20px; /* Padding around text */
  border-radius: 20px; /* Rounded corners */
  margin: 20px 50px; /* Margin around text */

  display: flex;
  flex-direction: column;
  position: relative;
}

.details-box {
  width: 40%;
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
  
  border-radius: 1.5vmax;
  text-align: left;  /* Align text to the left */
  font-size: 1rem;   /* Reduce the font size */
  line-height: 1.4;  /* Adjust line height for better readability */
}

.large-text {
  font-size: 3vmax; /* Adjust the size as needed */
  font-weight: bolder; /* Optional, if you want it to remain bold */
}

.details-box ul {
  list-style-type: disc; /* Default bullet style */
  list-style-position: inside;
  padding-left: 20px; /* Adjust indentation as needed */
}

.details-box.left {
  align-self: flex-start;
  background-color: #5bc2e7; /* Example background color */
  font-size: 2vmax;
  padding-left: 20px;
  padding-bottom: 20px;
}

.details-box.right {
  align-self: flex-end;
  background-color: #5bc2e7; /* Example background color */
  font-size: 2vmax;
  padding-left: 20px;
  padding-bottom: 20px;
}

#personality-details::before {
  content: '';
  position: absolute;
  top: 1.5%;
  bottom: 0;
  align-self: center;
  width: .5%;
  background-color: #FEDB04; /* Color for the middle line */
  height: 97%;
}

#topper-for-line {
  position: absolute; /* Make it independent */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  top: 0%; /* Adjust to position it slightly above the line */
  width: 5vh; /* Scale down the image width */
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure it's above the line */
}

#topper-for-line-2 {
  position: absolute; /* Make it independent */
  left: 50%; /* Center it horizontally */
  transform:translateX(-50%) scaleY(-1); /* Adjust for centering */
  top: 97%; /* Adjust to position it slightly above the line */
  width: 5vh; /* Scale down the image width */
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure it's above the line */
}

#description-image {
  position: absolute; /* Make it independent */
  align-self: center;
  width: 10%; /* Scale down the image width */
  transform: scaleX(-1);
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure it's above the line */
  margin-top: -30px; /* Adjust this value to move arrows up or down if necessary */
}
#advantages-image {
  position: absolute; /* Make it independent */
  align-self: center;
  width: 10vw; /* Scale down the image width */
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure it's above the line */
  margin-top: -30px; /* Adjust this value to move arrows up or down if necessary */
}
#disadvantages-image {
  position: absolute; /* Make it independent */
  align-self: center;
  width: 10vw; /* Scale down the image width */
  transform: scaleX(-1);
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure it's above the line */
  margin-top: -30px; /* Adjust this value to move arrows up or down if necessary */
}
#motivators-image {
  position: absolute; /* Make it independent */
  align-self: center;
  width: 10vw; /* Scale down the image width */
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure it's above the line */
  margin-top: -30px; /* Adjust this value to move arrows up or down if necessary */
}
#demotivators-image {
  position: absolute; /* Make it independent */
  align-self: center;
  width: 10vw; /* Scale down the image width */
  transform: scaleX(-1);
  height: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure it's above the line */
  margin-top: -30px; /* Adjust this value to move arrows up or down if necessary */
}

#scroll-text {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.scroll-arrow {
  font-size: 3.5vmax;
  color: #FEDB04;
  text-shadow: 
    -1.5px -1.5px 3px rgba(46, 101, 103, 0.5), /* Text shadow effect */
    1.5px -1.5px 3px rgba(46, 101, 103, 0.5), 
    -1.5px 1.5px 3px rgba(46, 101, 103, 0.5),
    1.5px 1.5px 3px rgba(46, 101, 103, 0.5); 
  bottom: 0%;
  left: 50%;
  position: inherit;
  transform: translateX(-50%);
  animation: moveArrow 2s infinite ease-in-out;
  z-index: 50;
}
#scroll-down-text {
  font-size: 3vmax;
  color: #FEDB04;
}

@keyframes moveArrow {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes hintAnim {
  0% {transform: scaleX(100%); background-color:#FEDB04;}
  50% {transform: scaleX(105%) translateX(2.5%); background-color: #5BC2E7;}
  100% {transform: scaleX(100%); background-color: #FEDB04;}
}


@media (orientation: portrait) {
  #welcome-image {
    position: absolute;
    top: 100px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: auto; /* Adjust width/height to fit your design */
    height: 110px; /* Example height */
  }

  #logo-image {
    height: 15vw;
    width: auto;
    border-radius: 4vw;
  }
  #hero-text{
    font-size: 10vw;
  }
  #welcome-text {
    font-size: 7vw;
  }
  .start-button { 
    border-top: 1vw solid #FEDB04;    /* Small border on the top */
    border-right: 2vw solid #FEDB04;  /* Same size border on the right */
    border-bottom: 4vw solid #FEDB04; /* Larger border on the bottom */
    border-left: 2vw solid #FEDB04;   /* Same size border on the left */
    border-radius: 4vw;             /* Optional: rounded corners */
    font-size: 6vw;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    z-index: 1; /* Ensure button is above the GIF background */
  }
   
  #question-container {
    top: 40%;
  }
  #question-text {
    font-size: 3vmax;
  }
  #answers {
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1; /* Ensure it’s behind the progress bar */

    bottom: 5%; /* Remove fixed bottom position */
    align-items: center;
    justify-items: center;
    display: flex;
    width: 90%;
  }
  .answer-button {
    background-color: #5bc2e7;
    font-family: 'Jura', sans-serif;
    color: black;
    padding: 1.2vh;
    margin-top: 1vh;
    
    font-size: 2vmax;
    cursor: pointer;
    border-radius: 5vmax;
    transition: background-color 0.3s ease;
    width: 100%; /* Full width for mobile */
    max-width: none;
    word-spacing: normal;
  }
  #answer-a {
    width: 90%; 
  }
  #answer-n {
    width: 80%; 
  }
  #answer-d {
    width: 90%; 
  }

  .answer-button:active {
    background-color: #5bc2e7
     ; /* for mobile tap */
  } 

  @keyframes changeColor {
    50% {
      background-color: #FEDB04;
    }
    100% {
      background-color: #5bc2e7;
    }
  }

  .answer-button.mobile-click {
    animation: changeColor 0.3s forwards;
  }

  #detailed-results{
    position: relative;
  }
  #detailed-results button {
    font-weight: bold;
    padding: 8px 16px; /* Adjust padding for smaller screens */
    margin: 5px 0 2px 20%; /* Add left margin */
  }

 
  .start-button {
    font-size: 4vw;
  }
  .restart-button, .feedback-button {
    font-size: 4vw;
  }
  #result, #detailed-results, #result-text {
    font-size: 3vmax;
  }
  #detailed-results {
    width: 50%; /* Ensure container takes full width */
    margin-left: 0px;
  }


  #result-animal-image {
    margin: 0 auto; /* Centers the image horizontally */
    width: 80vw; /* Adjust the size of the image */
    height: auto; /* Maintains the aspect ratio */
    padding-top: 20px; /* Adds some space above the image */
  }
  
  #personality-details {
    font-size: 1.3rem; /* Adjust font size for smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */
  }
  .details-box {
    width: 80%; /* Full width for mobile */
    display: block; /* Stack vertically */
    margin: 10px auto; /* Center horizontally */
  }
  .responsive-image {
    display: none; /* Hide the images on mobile devices */
  }
  #personality-details::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3%;
    width: 0px;
    background-color: #e97c17; /* Color for the middle line */
  }
}